# Operating System files
.DS_Store
Thumbs.db

# Editor specific files
.vscode/
*.sublime-workspace

# Ignorar carpetas del entorno virtual
venv/
.venv/
IntraScanAdmin/ 
venv/
.venv/
env/
.env/
*/Lib/site-packages/
__pycache__/
*.pyc
*.log # Para ignorar tu archivo de log
hosts.json # Si no quieres versionar el inventario localmente, aunque a veces es útil si es fijo. Si quieres versionarlo, quita esta línea.