# Virtual environment directories
venv/
.venv/
IntraScanAdmin/  # <-- ¡Importante! Asegúrate de que esta línea esté aquí si tu venv se llama igual que la carpeta del proyecto.

# Byte-code files
*.pyc
__pycache__/

# Operating System files
.DS_Store
Thumbs.db

# Editor specific files
.vscode/
*.sublime-workspace

# Ignorar carpetas del entorno virtual
venv/
.venv/
IntraScanAdmin/ 